{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/main/login.css') }}">
{#  Components styles #}
{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}

        <div class="flash__danger" role="alert">{{ flashError }}</div>
    {% endfor %}


    <div class="form">


    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="form__button">Register</button>
    {{ form_end(registrationForm) }}

    </div>
{% endblock %}

{%  block javascripts %}
    {{ parent() }}

    {# <script src="{{ asset('js/main/login.js') }}"></script> #}


{% endblock %}
