
{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/pages/homepage.css') }}">
    {#  Components styles #}

    <link rel="stylesheet" href="{{ asset('css/components/latest.css') }}">
    <link rel="stylesheet" href="{{ asset('css/components/categories.css') }}">
{% endblock %}

{% block body %}

    <div id="bestsellers" class="bestsellers">Bestsellers</div>

    {# panel latest #}
    {% embed 'components/latest/latest.html.twig' %}
    {% endembed %}

    {# panel categories #}
    {% embed 'components/categories/categories.html.twig' %}
    {% endembed %}


{% endblock %}
{%  block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/pages/homepage.js') }}"></script>
    <script src="{{ asset('js/components/categories.js') }}"></script>
{% endblock %}
