
{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/main/contact.css') }}">
    {#  Components styles #}


{% endblock %}

{% block body %}

    {% for message in app.flashes('info') %}
    <div class="flash">
        <div class="flash__info">{{ message }}</div>
    </div>
    {% endfor %}
<div class="cForm">
    {{ form(form) }}
</div>



{% endblock %}
{%  block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/main/contact.js') }}"></script>


{% endblock %}
