{% extends 'main/homepage.html.twig' %}

{% block title %}Test{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/components/test/test.css') }}">
{% endblock %}

{% block body %}
 {{ parent() }}
    <div id="sent" class="sent">

    </div>

<div class="main">
    <form class="main__form" action="{{ path('app_test') }}" method="post">
        <input type="text" class="main__textarea" id="text_area" name="text_area" rows="4" cols="40"></input>
        <input id="submit" class="main__submit" type="submit">
    </form>

</div>
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/components/test/test.js') }}"></script>
    {% endblock %}

{% endblock %}
