{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/components/test/test.css') }}">
{% endblock %}

{% block body %}

    <div id="sent" class="sent">

    </div>

<div class="main">
    <form class="main__form" action="{{ path('app_test') }}" method="post">
        <input type="text" class="main__text" id="text" name="text">
        <input id="submit" class="main__submit" type="submit">
    </form>

</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/components/test/test.js') }}"></script>
{% endblock %}
