
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/fonts/stylesheet.css') }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">

            <link rel="stylesheet" href="{{ asset('css/components/nav.css') }}">

            <script src="{{ asset('lib/gsap/gsap.min.js') }}"></script>
        {% endblock %}

    </head>

    <body>
    <div class="main__menu">
        {# MENU - Top Bar component #}
        {% embed 'components/nav/top_bar.html.twig' %}
        {% endembed %}

        {% if app.user is empty%}
            {# MENU - If user not logged in panel #}
            {% embed 'components/nav/panel_user_anon.html.twig' %}
            {% endembed %}
        {% endif %}

        {% if app.user is not empty%}
            {# MENU -  if user is logged #}
            {% embed 'components/nav/panel_user_logged.html.twig' %}
            {% endembed %}
        {% endif %}

        {# MENU - panel menu books #}
        {% embed 'components/nav/panel_books.html.twig' %}
        {% endembed %}
    </div>


        {% block body %}


        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/api/api.js') }}"></script>
            <script src="{{ asset('js/components/nav.js') }}"></script>
        {% endblock %}
    </body>
</html>
