<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/fonts/stylesheet.css') }}" type="text/css" charset="utf-8" />
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <link rel="stylesheet" href="{{ asset('css/layout.css') }}">
            <script src="{{ asset('lib/gsap/gsap.min.js') }}"></script>
        {% endblock %}

    </head>

    <body>
        {% block nav %}

        {% endblock %}

        {% block body %}


        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/api/api.js') }}"></script>
        {% endblock %}
    </body>
</html>
